@CHARSET "UTF-8";

.jspjs_width_600{max-width: 600px;}
.jspjs_width_300{max-width: 300px;}
.no_padding_right{padding-right: 0;}
.no_border{border-width: 0;}
.no_padding{padding: 0;}
.no_margin{margin: 0;}
.no_background{background: none;}
.right{float: right;}
.left{float:left;}
.cursor{cursor: curse;}
.trigon_down{border-color: #000000 rgba(0, 0, 0, 0) -moz-use-text-color;border-style: solid solid dotted;
			border-width: 4px 4px 0;display: inline-block;height: 0; margin-left: 2px;vertical-align: middle;width: 0; transform:rotate(90deg);}


.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{ font-size: 14px;}

 [class*=" icon-"] {font-size: 14px;}